/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@layer utilities {
  .bg-grid {
    /* --grid-color: white; */
    background-image:
      linear-gradient(to right, rgb(19, 23, 31) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(19, 23, 31) 1px, transparent 1px);
    background-size: 60px 60px;
    
  }
}


